<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">-->  <!-- change the filename of css if needed -->
        <title>Dashboard</title>
    </head>
    <body class="body-img">

        <div class=headerbar>
            <div id="titlebuttonbox">
                <div id="pagetitle"> 
                    <h1>Hey {{ user.first_name }}</h1>
                </div>
                <div id="titlebuttons">
                    <div class="titlebutton">
                        <a href="/create_note"><button id="notesbutton">Create Note</button></a><!-- forgot if you guys wanted a button or a link to redirect the user, you can change if wanted -->
                    </div>
                    <div  class="titlebutton">
                        <a class="nav-link" href="/logout"><button id="logoutbutton">Logout</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
        <!-- List of all notes -->
        <table>
        <thead>
            <tr class="row">
                <th>Title</th>
                <th>By</th>
                <th>Date</th>
                <th>Remove/ Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for note in all_notes %}
                <tr class="row">
                    
                    <td>
                        <button><a href="/note_details/{{note.id}}">{{note.title}}</a></button>
                    </td>
                    <td>{{note.creator.first_name}}</td>
                    <td>{{note.created_at}}</td>
                    <td>
                        {% if session['user_id'] == note.creator.id  %} <!-- creator is the user who is in session who can delete or edit their note-->
                            <button><a href="/notes/edit/{{note.id}}">EDIT</a></button> <!-- where the user can edit their note -->
                            <button class="button-red"><a href="/delete/{{note.id}}">DELETE</a></button> <!-- where the user can delete their note -->
                    </td>
                        {% endif %}
                    </td>
                </tr>
            {%endfor%}
        </tbody>
        </table>
    </body>
</html>
