<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> <!-- change the filename of css if needed -->
        <title>Dashboard</title>
    </head>
    <body>

        <h1>Hey {{user.first_name}}! </h1>
        <h4>All Notes:</h4>
        <ul>
            <li>
                <a class="nav-link" href="/create_note">Create A Note</a> <!-- forgot if you guys wanted a button or a link to redirect the user, you can change if wanted -->
            </li>
            <li>
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        
        <!-- List of all notes -->
        <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>By</th>
                <th>Date</th>
                <th>Remove/ Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for note in all_notes %}
                <tr>
                    <td>{{note.title}}</td>
                    <td>{{note.name}}</td>
                    <td>{{note.date}}</td>
                    <td>
                        <a href="/note/{{note.id}}">note|</a>
                        {% if session['user_id'] == note.creator.id  %} <!-- creator is the user who is in session who can delete or edit their note-->
                            <a href="/notes/edit/{{note.id}}">edit|</a> <!-- where the user can edit their note -->
                            <a href="/notes/delete/{{note.id}}">delete</a> <!-- where the user can delete their note -->
                        {% endif %}
                    </td>
                </tr>
            {%endfor%}
        </tbody>
        </table>
    </body>
</html>
