<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/> <!-- change the filename of css if needed -->
        <title>Edit Note</title>
    </head>

    <body class="body-img">
      <div>
        <div class=headerbars>
            <h1>Edit Note!</h1>
            <div>
                <button><a href="/dashboard">All Notes</a> </button><!-- forgot if you guys wanted a button or a link to redirect the user, you can change if wanted -->
            </div>
            <div>
                <button><a class="nav-link" href="/logout">Logout</a></button>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
             <!-- declare a variable called messages -->
            {% if messages %}
                <!-- check if there are any messages -->
                {% for message in messages %}
                    <!-- loop through the messages -->
                    <p class="error">{{message}}</p>
                    <!-- display each message in a paragraph tag -->
                {% endfor %} 
            {% endif %} 
        {% endwith %}
        <form action="/update/{{notes.id}}" method="POST">
            <div>
                <label for="titleinput" class="form-label">Title:</label>
                <input type="text" class="form-control" id="titleinput" name="title" value="{{notes.title}}" />
            </div>

            <div>
                <label for="nameinput" class="form-label">Name:</label>
                <input type="text" class="form-control" id="nameinput" name="name" value="{{notes.name}}"/>
            </div>

            <div>
                <label for="date">Date:</label>
                <input type="date" name="date" id="date" value="{{notes.date}}"/>
            </div>

            <div>
                <label for="textarea">Write your note:</label>
                <textarea class="form-control" id="textarea" name="desc" rows="5">{{notes.desc}}</textarea>
            </div>

            <button type="submit">Update</button>
        </form>
    </body>
</html>
